@use "../abstracts/variables" as v;

/* Styles pour les tooltips */
.tooltip {
  position: relative;
  font-weight: 100;
}



.tooltip:hover .tooltip-text,
.tooltip:focus .tooltip-text {
  visibility: visible;
  opacity: 1;
}
