
//Theme colors 
$backgroundColor:#150f24;
$primaryColor : #fe2125;
$secondaryColor : #b37f44; 

$componentsAlpha : rgba(lighten($backgroundColor,75%), 0.1);


//Typographies
$fontSize : 18px;
$fontFamily : "Poppins";
$titleFontFamily : "Sora";
$color : #fff;
$titleColor-0 : #fe2125;