/* Styles pour les tooltips */
.tooltip {
  position: relative;
  font-weight: 100;
}

.tooltip:hover .tooltip-text,
.tooltip:focus .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* sora-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Sora";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/sora-v12-latin-100.eot"); /* IE9 Compat Modes */
  src: url("../fonts/sora-v12-latin-100.eot?#iefix") format("embedded-opentype"), url("../fonts/sora-v12-latin-100.woff2") format("woff2"), url("../fonts/sora-v12-latin-100.woff") format("woff"), url("../fonts/sora-v12-latin-100.ttf") format("truetype"), url("../fonts/sora-v12-latin-100.svg#Sora") format("svg"); /* Legacy iOS */
}
/* sora-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Sora";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/sora-v12-latin-200.eot"); /* IE9 Compat Modes */
  src: url("../fonts/sora-v12-latin-200.eot?#iefix") format("embedded-opentype"), url("../fonts/sora-v12-latin-200.woff2") format("woff2"), url("../fonts/sora-v12-latin-200.woff") format("woff"), url("../fonts/sora-v12-latin-200.ttf") format("truetype"), url("../fonts/sora-v12-latin-200.svg#Sora") format("svg"); /* Legacy iOS */
}
/* sora-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Sora";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/sora-v12-latin-300.eot"); /* IE9 Compat Modes */
  src: url("../fonts/sora-v12-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/sora-v12-latin-300.woff2") format("woff2"), url("../fonts/sora-v12-latin-300.woff") format("woff"), url("../fonts/sora-v12-latin-300.ttf") format("truetype"), url("../fonts/sora-v12-latin-300.svg#Sora") format("svg"); /* Legacy iOS */
}
/* sora-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/sora-v12-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/sora-v12-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/sora-v12-latin-regular.woff2") format("woff2"), url("../fonts/sora-v12-latin-regular.woff") format("woff"), url("../fonts/sora-v12-latin-regular.ttf") format("truetype"), url("../fonts/sora-v12-latin-regular.svg#Sora") format("svg"); /* Legacy iOS */
}
/* sora-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Sora";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/sora-v12-latin-500.eot"); /* IE9 Compat Modes */
  src: url("../fonts/sora-v12-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/sora-v12-latin-500.woff2") format("woff2"), url("../fonts/sora-v12-latin-500.woff") format("woff"), url("../fonts/sora-v12-latin-500.ttf") format("truetype"), url("../fonts/sora-v12-latin-500.svg#Sora") format("svg"); /* Legacy iOS */
}
/* sora-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/sora-v12-latin-600.eot"); /* IE9 Compat Modes */
  src: url("../fonts/sora-v12-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/sora-v12-latin-600.woff2") format("woff2"), url("../fonts/sora-v12-latin-600.woff") format("woff"), url("../fonts/sora-v12-latin-600.ttf") format("truetype"), url("../fonts/sora-v12-latin-600.svg#Sora") format("svg"); /* Legacy iOS */
}
/* sora-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Sora";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/sora-v12-latin-700.eot"); /* IE9 Compat Modes */
  src: url("../fonts/sora-v12-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/sora-v12-latin-700.woff2") format("woff2"), url("../fonts/sora-v12-latin-700.woff") format("woff"), url("../fonts/sora-v12-latin-700.ttf") format("truetype"), url("../fonts/sora-v12-latin-700.svg#Sora") format("svg"); /* Legacy iOS */
}
/* poppins-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/poppins-v20-latin-100.eot"); /* IE9 Compat Modes */
  src: url("../fonts/poppins-v20-latin-100.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v20-latin-100.woff2") format("woff2"), url("../fonts/poppins-v20-latin-100.woff") format("woff"), url("../fonts/poppins-v20-latin-100.ttf") format("truetype"), url("../fonts/poppins-v20-latin-100.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/poppins-v20-latin-200.eot"); /* IE9 Compat Modes */
  src: url("../fonts/poppins-v20-latin-200.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v20-latin-200.woff2") format("woff2"), url("../fonts/poppins-v20-latin-200.woff") format("woff"), url("../fonts/poppins-v20-latin-200.ttf") format("truetype"), url("../fonts/poppins-v20-latin-200.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v20-latin-300.eot"); /* IE9 Compat Modes */
  src: url("../fonts/poppins-v20-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v20-latin-300.woff2") format("woff2"), url("../fonts/poppins-v20-latin-300.woff") format("woff"), url("../fonts/poppins-v20-latin-300.ttf") format("truetype"), url("../fonts/poppins-v20-latin-300.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/poppins-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"), url("../fonts/poppins-v20-latin-regular.woff") format("woff"), url("../fonts/poppins-v20-latin-regular.ttf") format("truetype"), url("../fonts/poppins-v20-latin-regular.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v20-latin-500.eot"); /* IE9 Compat Modes */
  src: url("../fonts/poppins-v20-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v20-latin-500.woff2") format("woff2"), url("../fonts/poppins-v20-latin-500.woff") format("woff"), url("../fonts/poppins-v20-latin-500.ttf") format("truetype"), url("../fonts/poppins-v20-latin-500.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v20-latin-600.eot"); /* IE9 Compat Modes */
  src: url("../fonts/poppins-v20-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v20-latin-600.woff2") format("woff2"), url("../fonts/poppins-v20-latin-600.woff") format("woff"), url("../fonts/poppins-v20-latin-600.ttf") format("truetype"), url("../fonts/poppins-v20-latin-600.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v20-latin-700.eot"); /* IE9 Compat Modes */
  src: url("../fonts/poppins-v20-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v20-latin-700.woff2") format("woff2"), url("../fonts/poppins-v20-latin-700.woff") format("woff"), url("../fonts/poppins-v20-latin-700.ttf") format("truetype"), url("../fonts/poppins-v20-latin-700.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/poppins-v20-latin-800.eot"); /* IE9 Compat Modes */
  src: url("../fonts/poppins-v20-latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v20-latin-800.woff2") format("woff2"), url("../fonts/poppins-v20-latin-800.woff") format("woff"), url("../fonts/poppins-v20-latin-800.ttf") format("truetype"), url("../fonts/poppins-v20-latin-800.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v20-latin-900.eot"); /* IE9 Compat Modes */
  src: url("../fonts/poppins-v20-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v20-latin-900.woff2") format("woff2"), url("../fonts/poppins-v20-latin-900.woff") format("woff"), url("../fonts/poppins-v20-latin-900.ttf") format("truetype"), url("../fonts/poppins-v20-latin-900.svg#Poppins") format("svg"); /* Legacy iOS */
}
* {
  margin: 0px;
  padding: 0px;
}

html {
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  background-color: #150f24;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  font-family: "Sora";
  color: #fe2125;
  font-weight: 300;
  font-size: 27px;
}

h1 {
  font-weight: 500;
  font-size: 32.4px;
}

h2 {
  font-weight: 400;
  font-size: 27px;
}

h3 {
  font-weight: 300;
  font-size: 21.6px;
}

body {
  position: relative;
}

.displayNone {
  display: none;
}

header {
  min-height: 7vh;
  position: relative;
  box-sizing: border-box;
  width: 100%;
}
header h2 {
  padding-top: 0.5em;
  padding-left: 2em;
  font-size: 36px;
  font-weight: 600;
  color: #fff;
}
header .dot {
  font-weight: 200;
  font-size: 27px;
}
header .dot::after {
  content: ".";
  color: #fe2125;
}

.nav_links {
  z-index: 900;
  position: fixed;
  right: 0em;
  top: 0em;
  transform: translateX(300px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background-color: #150f24;
  padding: 0.8em;
  border-radius: 1em 0em 0em 1em;
  height: 100vh;
  transition: transform 350ms;
}
.nav_links a {
  color: #fff;
  text-decoration: none;
  transition: all 250ms ease-in-out;
}
.nav_links a:hover {
  color: #fe2125;
}
.nav_links svg {
  display: none;
}
.nav_links.opened {
  transform: translateX(0px);
}
.nav_links .tooltip-text {
  display: none;
}
@media (min-width: 1200px) {
  .nav_links {
    display: flex;
    transform: translateX(0px);
    height: auto;
    border-radius: 2em;
    top: 50%;
    right: 0.5em;
    transform: translateY(-50%);
    background-color: rgba(210, 201, 233, 0.1);
  }
  .nav_links a {
    font-size: 1.5em;
  }
  .nav_links a .link_title {
    display: none;
  }
  .nav_links a svg {
    display: block;
    width: 30px;
    height: 30px;
  }
  .nav_links .tooltip-text {
    display: block;
    white-space: nowrap;
    font-size: 0.6em;
    visibility: hidden;
    background-color: rgba(210, 201, 233, 0.6);
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    right: 100%;
    top: 50%;
    opacity: 0;
    transition: opacity 250ms;
    transform: translate(-1em, -50%);
  }
  .nav_links .tooltip-text::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -6.6px;
    width: 0;
    border-left: 7px solid rgba(210, 201, 233, 0.6);
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    cursor: pointer;
  }
}

#nav_trigger button {
  z-index: 910;
  position: fixed;
  bottom: 1em;
  right: 1em;
  background-color: rgba(210, 201, 233, 0.1);
  border: none;
  border-radius: 2em;
  cursor: pointer;
  display: flex;
  padding: 0;
  width: 3em;
  height: 3em;
}
@media (min-width: 1200px) {
  #nav_trigger button {
    display: none;
  }
}

.line {
  fill: none;
  stroke: #fff;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

@keyframes test {
  from {
    transform: translateX(500px);
  }
  to {
    transform: translateX(0px);
  }
}
footer {
  min-height: 7vh;
}

#particles-js {
  z-index: 1;
  position: absolute;
  right: 0;
  transform: translateY(10%);
  height: 90%;
}
@media (min-width: 820px) {
  #particles-js {
    width: 70%;
  }
}
@media (min-width: 1200px) {
  #particles-js {
    width: 60%;
  }
}

.animated-button1 {
  background: linear-gradient(-30deg, #3d0b0b 50%, #2b0808 50%);
  padding: 0.5em 1.2em;
  display: inline-block;
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  overflow: hidden;
  color: #f7d4d4;
  font-size: 20px;
  letter-spacing: 2.5px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.animated-button1::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #ad8585;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}

.animated-button1:hover::before {
  opacity: 0.2;
}

.animated-button1 span {
  position: absolute;
}

.animated-button1 span:nth-child(1) {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(43, 8, 8, 0)), to(#d92626));
  background: linear-gradient(to left, rgba(43, 8, 8, 0), #d92626);
  -webkit-animation: 2s animateTop linear infinite;
  animation: 2s animateTop linear infinite;
}

@keyframes animateTop {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
.animated-button1 span:nth-child(2) {
  top: 0px;
  right: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(43, 8, 8, 0)), to(#d92626));
  background: linear-gradient(to top, rgba(43, 8, 8, 0), #d92626);
  -webkit-animation: 2s animateRight linear -1s infinite;
  animation: 2s animateRight linear -1s infinite;
}

@keyframes animateRight {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
.animated-button1 span:nth-child(3) {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(43, 8, 8, 0)), to(#d92626));
  background: linear-gradient(to right, rgba(43, 8, 8, 0), #d92626);
  -webkit-animation: 2s animateBottom linear infinite;
  animation: 2s animateBottom linear infinite;
}

@keyframes animateBottom {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
.animated-button1 span:nth-child(4) {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 8, 8, 0)), to(#d92626));
  background: linear-gradient(to bottom, rgba(43, 8, 8, 0), #d92626);
  -webkit-animation: 2s animateLeft linear -1s infinite;
  animation: 2s animateLeft linear -1s infinite;
}

@keyframes animateLeft {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
#accueil {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 0em 1em 0em 1em;
  min-height: 80vh;
}
@media (min-width: 1200px) {
  #accueil {
    justify-content: center;
    align-items: flex-start;
    padding: 0em 2.5em 0em 2.5em;
  }
}
#accueil article {
  max-width: 600px;
  margin-top: 3em;
  text-align: justify;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}
#accueil article h1 {
  text-align: center;
}
#accueil .avatar {
  position: fixed;
  right: 14%;
  bottom: -5%;
  z-index: 1;
  height: auto;
  min-width: 300px;
  width: 70%;
  max-width: 430px;
}
#accueil .background {
  position: absolute;
  bottom: 0;
  right: 0;
}

body::before {
  content: "";
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url(../img/bg-explosion.png) no-repeat, #150f24;
  background-size: cover;
  background-position: right 30% bottom;
  background-blend-mode: color-dodge;
}

/*# sourceMappingURL=style.css.map */
