@use "../abstracts/variables" as v;

* {
  margin: 0px;
  padding: 0px;
 // border: 1px solid green;
}

html {
  font-family: v.$fontFamily;
  font-size: v.$fontSize;
  font-style: normal;
  font-weight: 200;
  background-color: v.$backgroundColor;
  color: v.$color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  font-family: v.$titleFontFamily;
  color: v.$titleColor-0;
  font-weight: 300;
  font-size: v.$fontSize * 1.5;
}

main {
  display: flex;
  box-sizing: border-box;
  padding: 0em 5em 0em 5em;
  min-height: 80vh;
}

body{
 // display: flex;
  flex-direction: column ; 
  position: relative;
}


.w-50{
  width: 50%;
}