@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

header {
  z-index: 800;
  min-height: 7vh;
  position: relative;
  box-sizing: border-box;
  width: 100%;

  h2 {
    padding-top: 0.5em;
    padding-left: 2em;
    font-size: v.$fontSize * 2;
    font-weight: 600;
    color: v.$color;
  }

  .dot {
    font-weight: 200;
    font-size: v.$fontSize * 1.5;

    &::after {
      content: ".";
      color: v.$primaryColor;
    }
  }

}
