@use "../abstracts/variables" as v;

.bienvenu {
  width: 50%;
  max-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: justify;

  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    flex: 1 1 40%;
  }

  h1 {
    font-size: 2.5em;
  }
}
.avatar {
  position: fixed;
  right: 13%;
  bottom: 0%;
  z-index: -1;
  height: 60%;
  width: auto;
}
$background-image: url(../img/bg-explosion.png);
body::before {
  content: "";
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100%;
  background: $background-image no-repeat, v.$backgroundColor;
  background-size: cover; //
  background-position: right bottom;
  //background-blend-mode: lighten,color-dodge;
  background-blend-mode: color-dodge;
}
